version: "3.9"

services:
  ##------------------------------------------------------------------------------------------
  ## MICROSERVICES
  ##------------------------------------------------------------------------------------------
  movie-service:
    build:
      context: ./movie-service
      dockerfile: Dockerfile
    container_name: movie-service
    depends_on:
      actor-service:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      alloy:
        condition: service_started
      kafka0:
        condition: service_healthy
    environment:
      ACTOR_SERVICE_URL: "http://actor-service:4001"
      LOGGING_HOST: "http://alloy:3100"
      DATABASE_URL: postgres://sa:letme1n@postgres:5432/postgres?schema=movie
      REDIS_HOST: redis
      TEMPO_TRACES_URL: "http://tempo:4318/v1/traces"
      KAFKA_BROKERS: "kafka0:9092"
    ports:
      - "4000:4000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/health"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
  #-------------------------------------------------------------------------------------------
  actor-service:
    build:
      context: ./actor-service
      dockerfile: Dockerfile
    container_name: actor-service
    depends_on:
      postgres:
        condition: service_healthy
      alloy:
        condition: service_started
    environment:
      DATABASE_URL: postgres://sa:letme1n@postgres:5432/postgres?schema=actor
      LOGGING_HOST: "http://alloy:3100"
      TEMPO_TRACES_URL: "http://tempo:4318/v1/traces"
    ports:
      - "4001:4001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4001/health" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s
  #-------------------------------------------------------------------------------------------
  audit-service:
    build:
      context: ./audit-service
      dockerfile: Dockerfile
    container_name: audit-service
    depends_on:
      postgres:
        condition: service_healthy
      alloy:
        condition: service_started
      kafka0:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://sa:letme1n@postgres:5432/postgres?schema=audit
      LOGGING_HOST: "http://alloy:3100"
      TEMPO_TRACES_URL: "http://tempo:4318/v1/traces"
      NODE_ENV: production
      REDIS_HOST: redis
      KAFKA_BROKERS: "kafka0:9092"
    ports:
      - "4002:4002"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4002/health" ]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
  ##------------------------------------------------------------------------------------------
  ## DATABASE
  ##------------------------------------------------------------------------------------------
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "4432:5432"
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: letme1n
      POSTGRES_DB: postgres
    volumes:
      - ./docker/postgres/init-schema.sql:/docker-entrypoint-initdb.d/init-schema.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U sa -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
  ##------------------------------------------------------------------------------
  ## REDIS
  ##------------------------------------------------------------------------------
  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis-seed:
    image: redis:8
    container_name: redis-seed
    depends_on:
      - redis
    volumes:
      - ./docker/redis/init/seed-users.sh:/seed.sh:ro
    entrypoint: [ "/seed.sh" ]
  ##------------------------------------------------------------------------------
  ## OBSERVABILITY
  ##------------------------------------------------------------------------------
  alloy:
    container_name: alloy
    image: grafana/alloy:v1.8.1
    ports:
      - "12347:12345"
      - "12348:12348"
      - "6832:6832"
      - "3100:3100"
      - "55679:55679"
      - "4317:4317"
      - "4318:4318"
    volumes:
      - "./docker/alloy:/etc/alloy"
    command: [
      "run",
      "--server.http.listen-addr=0.0.0.0:12345",
      "--stability.level=experimental",
      "/etc/alloy/config.alloy",
    ]
  ##------------------------------------------------------------------------------
  loki:
    image: grafana/loki:3.5.3
    container_name: loki
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./docker/loki.yaml:/etc/loki/loki-config.yaml
  ##------------------------------------------------------------------------------
  tempo:
    image: grafana/tempo:2.8.2
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./docker/tempo.yaml:/etc/tempo.yaml
    depends_on:
      - alloy
  ##------------------------------------------------------------------------------
  grafana:
    image: grafana/grafana:12.0
    container_name: grafana
    volumes:
      - ./docker/grafana/datasources:/etc/grafana/provisioning/datasources
      - ./docker/grafana/dashboards:/etc/grafana/provisioning/dashboards
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - loki
  ##------------------------------------------------------------------------------
  ## KAFKA
  ##------------------------------------------------------------------------------
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8080:8080
    depends_on:
      kafka0:
        condition: service_healthy
      schema-registry0:
        condition: service_started
      kafka-connect0:
        condition: service_started
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka0:9092
      KAFKA_CLUSTERS_0_METRICS_PORT: 9997
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry0:8085
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka-connect0:8083
      DYNAMIC_CONFIG_ENABLED: 'true'  # not necessary, added for tests
      KAFKA_CLUSTERS_0_AUDIT_TOPICAUDITENABLED: 'true'
      KAFKA_CLUSTERS_0_AUDIT_CONSOLEAUDITENABLED: 'true'
  ##------------------------------------------------------------------------------
  kafka0:
    image: confluentinc/cp-kafka:7.2.1.arm64
    hostname: kafka0
    container_name: kafka0
    ports:
      - 9092:9092
      - 9997:9997
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka0:29093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka0:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      KAFKA_JMX_PORT: 9997
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=kafka0 -Dcom.sun.management.jmxremote.rmi.port=9997
    volumes:
      - ./docker/kafka/update_run.sh:/tmp/update_run.sh
    command: "bash -c 'if [ ! -f /tmp/update_run.sh ]; then echo \"ERROR: Did you forget the update_run.sh file that came with this docker-compose.yml file?\" && exit 1 ; else /tmp/update_run.sh && /etc/confluent/docker/run ; fi'"
    healthcheck:
      test: [ "CMD", "bash", "-c", "kafka-broker-api-versions --bootstrap-server kafka0:9092" ]
      interval: 5s
      timeout: 5s
      retries: 12
  ##------------------------------------------------------------------------------
  schema-registry0:
    image: confluentinc/cp-schema-registry:7.2.1.arm64
    container_name: schema-registry0
    ports:
      - 8085:8085
    depends_on:
      kafka0:
        condition: service_healthy
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka0:9092
      SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL: PLAINTEXT
      SCHEMA_REGISTRY_HOST_NAME: schema-registry0
      SCHEMA_REGISTRY_LISTENERS: http://schema-registry0:8085

      SCHEMA_REGISTRY_SCHEMA_REGISTRY_INTER_INSTANCE_PROTOCOL: "http"
      SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: INFO
      SCHEMA_REGISTRY_KAFKASTORE_TOPIC: _schemas
  ##------------------------------------------------------------------------------
  kafka-connect0:
    image: confluentinc/cp-kafka-connect:7.2.1.arm64
    container_name: kafka-connect0
    ports:
      - 8083:8083
    depends_on:
      kafka0:
        condition: service_healthy
      schema-registry0:
        condition: service_started
    environment:
      CONNECT_BOOTSTRAP_SERVERS: kafka0:9092
      CONNECT_GROUP_ID: compose-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: _connect_configs
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_TOPIC: _connect_offset
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_TOPIC: _connect_status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry0:8085
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry0:8085
      CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_REST_ADVERTISED_HOST_NAME: kafka-connect0
      CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8083/connectors" ]
      interval: 10s
      timeout: 5s
      retries: 12
  ##------------------------------------------------------------------------------
  kafka-init-topics:
    image: confluentinc/cp-kafka:7.2.1.arm64
    container_name: kafka-init-topics
    depends_on:
      kafka0:
        condition: service_healthy
    command: "bash -c 'echo Waiting for Kafka to be ready then... && \
                cub kafka-ready -b kafka0:9092 1 30 && \
                kafka-topics --create --topic movies.views.incremented --partitions 3 --replication-factor 1 --bootstrap-server kafka0:9092'"
